* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
}
h2 {
  font-weight: 800;
  font-size: 1.75rem;
}

section {
  background-color: white;
  border: 4px solid #666;
  border-radius: 12px;
  box-shadow: 0 0 10px 2px #666, 10px 10px 0px #782121, -10px -10px 0px #066d46;
  margin-bottom: 2rem;
  padding: 1rem;
}

a,
button {
  background-color: #4f46e5;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6;
  margin-right: 10px;
  padding: 8px 12px;
  text-decoration: none;
  transition: all 0.25s;
}
button:hover {
  background-color: #645ed6;
}
a {
  background-color: transparent;
  border: 1px solid #5f5f5f;
  border-width: 0 0 1px 0;
  color: #333;
}

a:hover {
  background-color: #ccc;
}
nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}
