* {
  box-sizing: border-box;
  font-family: 'Albert Sans', system-ui, sans-serif;
}

body {
  margin: 0 auto;
  padding: 1rem;
  color: black;
  background-color: white;
  max-width: 1024px;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
}
h2 {
  font-weight: 800;
  font-size: 1.5rem;
}

section {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: inset rgb(38, 57, 77) 0 0 20px -10px;
  margin-bottom: 2rem;
  padding: 1rem;
}

a,
button {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 2px 2px;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1;
  margin-right: 10px;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: all 0.25s;
}

button:hover,
a:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.emphasis {
  font-style: italic;
  font-weight: 700;
}

input[type='text']:not(:last-of-type) {
  margin-right: 10px;
}
