* {
  box-sizing: border-box;
  font-family: 'Albert Sans', system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
}
h2 {
  font-weight: 800;
  font-size: 1.75rem;
}

section {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 2rem;
  padding: 1rem;
}

a,
button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6;
  margin-right: 10px;
  padding: 8px 12px;
  text-decoration: none;
  transition: all 0.25s;
}
button:hover {
  background-color: #645ed6;
}
a {
  background-color: transparent;
  border: 1px solid #5f5f5f;
  border-width: 0 0 1px 0;
  color: #333;
}

a:hover {
  background-color: #ccc;
}
nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}
